include ../includes/header.pug
.container.form-register.col-md-5.col-sm-12.col-xs-12
	.col-md-12.col-sm-12.col-xs-12.form-register-control
		form(action='/user/add' method='post')
			h2 Sign up / Register
			.form-group
				label(for='name') Name:
				input#name.form-control(type='text' name='name' placeholder='Enter name')
			.form-group
				label(for='email') Email address:
				input#email.form-control(type='email' name='email' placeholder='Enter email')
			.form-group
				label(for='password') Password:
				input#password.form-control(type='password' name='password' placeholder='Enter password')
			button.btn.btn-primary(type='submit') Submit