doctype html
head
  meta(charset='utf-8')
  title
form(action='/user/add' method='post')
  | First Name: 
  input(name='first_name' type='text' style='margin-bottom:10px;')
  br
  |         Last Name: 
  input(name='last_name' type='text')
  br
  input(type='submit')
