include ../header.pug
.container.col-md-10.col-sm-12.col-xs-12.list
	.col-md-12.col-sm-12.col-xs-12
		h2 users
		div.adddoc
			a(href='/user/add')
				button.btn.adddocbtn(type='button') add
		table.table.table-striped.listdocs
			thead
				tr
					th id
					th name
					th email
					th password
					th action
			tbody
			each val, index in listData
				tr
					td= val._id
					td= val.name
					td= val.email
					td= val.password
					td
						a(href='edit/'+val._id)
							button.btn.listdoc-btnaction(type='button') edit
						a
							button.btn.listdoc-btnaction(type='button') delete
