doctype html
head
	title Node Express Mongo
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1')
	link(rel='stylesheet' href='/css/bootstrap.min.css')
	link(rel='stylesheet' href='/css/custom.css')
	link(rel='stylesheet' href='/css/custom.css')
	script(src='/js/jquery.min.js')
	script(src='/js/bootstrap.min.js')
body
	nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.sticky-top
		a.navbar-brand(href='javascript:void(0)') Logo
		button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navb')
			span.navbar-toggler-icon
		#navb.collapse.navbar-collapse
		ul.navbar-nav.mr-auto
			li.nav-item
				a.nav-link(href='/user/logout') Log out