include header.pug
.container.custom-form.login-page.col-md-5.col-sm-12.col-xs-12.text-center
	.col-md-12.col-sm-12.col-xs-12.custom-form-control
		p Welcome!!!
		a.btn-redirect(href='/user/list')
			button.btn.btn-lg.btn-block(type='button') Sign in
		a.btn-redirect(href='/user/register')
			button.btn.btn-lg.btn-block(type='button') Register